header {
    padding: 10px;
    text-align: center;
    background-color: purple;
    background-repeat: no-repeat;
    background-size: 13%;
}

body{
    max-height: 100%;
    max-width: 100%;
}

header {
    margin-top: -10rem;
    padding: 1rem;
}

main {
    height: 80%;
}

/* img {
    display: flex;
    height: 200px;
} */

.nav-links {
    display: flow-root;
    background-color: gray;
    width: 100%;
}


  .menu-links {
    position: relative;
    margin: 0 0 0 25em;
  }

  #dropdown-submit {
    display: inline;
  }
  
  .dropdown-title, a {
    text-decoration: none;
    padding: 0 10px;
  }

  .menu-links ul {
    background: gray;
    list-style: none;
    margin: 0;
    padding-left: 0;
  }
  
  .menu-links ul li {
    color: #fff;
    background: gray;
    display: block;
    float: left;
    padding: 1rem;
    position: relative;
    text-decoration: none;
    transition-duration: 0.5s;
  }
    
  .menu-links ul li a {
    color: #fff;
  }
  
  .menu-links ul li:hover {
    background: lightgray;
    cursor: pointer;
  }
  
  .menu-links ul li ul {
    visibility: hidden;
    opacity: 0;
    width: fit-content;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    width: 100%;
    display: none;
  }

  /* test used to hover over entire children of dropdown-list */
  #test {
    float: none;
  }
  
  .menu-links ul li:hover > ul,
  .menu-links ul li ul:hover {
    visibility: visible;
    opacity: 1;
    display: block;
  }
  
  .menu-links ul li ul li {
    clear: both;
  }
  

form {
    display: flex;
    float: right;
    font-size: 15px;
}


/*
This is the parent `<div>` contains  the content area.
*/
.content {
    margin: 0;
    line-height: 1.6em;
    font-weight: 300;
    color: rgb(0, 0, 0);
}

/*
The #menu is the parent `<div>` that contains the .pure-menu that
appears on the left side of the page.
*/

#menu {
    width: 20%;
    left: 0;
    background: #191818;
}
        /*
        Change color of the anchor links on hover/focus.
        */
        #menu .pure-menu li a:hover,
        #menu .pure-menu li a:focus {
            background: #333;
        }
    /*
    This styles the menu heading.
    */
    #menu .pure-menu-heading {
        font-size: 13px;
        font-weight: bolder;
        color: #fff;
        margin: 0;
    }
    

    .map {
        width: 80%;
        text-align: center;
        background-color: lightgreen;
        height: 550px;
    }

    #user-submision {
        text-align: center;
        background-color: pink;
        width: 10%;
    }


footer {
    padding: 15px;
    background-color: #999;
    margin: 0;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropup {
    position: relative;
    display: inline-block;
    float: right;
  }
  
  .dropup-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    bottom: 50px;
    z-index: 1;
  }
  
  .dropup-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropup-content a:hover {background-color: #ccc}
  
  .dropup:hover .dropup-content {
    display: block;
  }
  
  .dropup:hover .dropbtn {
    background-color: #2980B9;
  }
